<div class = "panel panel-default">
	<div class = "panel-header">
		<h2>Change your password</h2>
	</div> <!-- end panel header -->
	
	<div class = "panel-body">
		<>%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  	<%= devise_error_messages! %>
  	<%= f.hidden_field :reset_password_token %>

  	<div class = "form-group col-xs-6">
			<%= f.label :password, "New password" %>
  		<%= f.password_field :password, :autofocus => true, class: "form-control", placeholder: "Enter new password here" %>
		</div>

  	<div class = "form-group col-xs-6">
			<%= f.label :password_confirmation, "Confirm new password" %>
  		<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm new password here" %>
		</div>

  	<div class = "btn-group">
			<%= f.submit "Change my password" %>
		</div>
		<% end %>
	</div> <!-- end panel body -->

	<div class = "panel-footer">
		<%= render "devise/shared/links" %>
	</div>
