<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Sign in</h2>
	</div> <!-- end panel heading -->
	
  <div class="panel-body">
		<div class = "row">
	  	<div class = "form-group col-xs-6">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  	<%= f.label :email %>
		  	<%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Enter e-mail here" %>
			</div>
		</div>

		<div class = "row">
	  	<div class = "form-group col-xs-6">
		  	<%= f.label :password %><br />
		  	<%= f.password_field :password, class: "form-control", placeholder: "Enter password here" %>
			</div>
		</div>

		  <% if devise_mapping.rememberable? -%>
		    <div class = "btn-group">
					<div class = "checkbox">
						<%= f.check_box :remember_me, class: "btn btn-primary" %>
						<%= f.label :remember_me %>
					</div>
				</div>
		  <% end -%>

		  <div class = "form-group">
				<%= f.submit "Sign in", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div><!-- end panel body -->
	
	<div class = "panel-footer">	
		<%= render "devise/shared/links" %>
	</div>